{% extends "layout.html" %}
{% block body %}

<a aria-current="page" href="{{ url_for('pdf2png') }}">pdf2png</a><br>
<a aria-current="page" href="{{ url_for('txt2wav') }}">txt2wav (pyttsx3)</a><br>
<a aria-current="page" href="{{ url_for('txt2wav_voicepeak') }}">txt2wav (voicepeak)</a><br>
<a aria-current="page" href="{{ url_for('pptx2mp4') }}">pptx2mp4 (pyttsx3)</a><br>
<a aria-current="page" href="{{ url_for('pptx2mp4_voicepeak') }}">pptx2mp4 (voicepeak)</a><br>
<a aria-current="page" href="{{ url_for('marge_mp4') }}">marge_mp4</a><br>
<a aria-current="page" href="{{ url_for('tex2mp4') }}">tex2mp4 (pyttsx3)</a><br>
<a aria-current="page" href="{{ url_for('tex2mp4_voicepeak') }}">tex2mp4 (voicepeak)</a><br>

{% endblock %}