<!doctype html>

<head>
  <meta charset="utf-8">
  <title>pptx2mp4</title>
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<body>

  <div class="container">
    <table width="100%" cellspacing="0" cellpadding="5">
      <tbody>
        <tr>
          <th class="title" align="center">
            <big>pptx2mp4</big>
          </th>
        </tr>
      </tbody>
    </table>


    <div class="toppage" align="right">
      <a href="{{ url_for('index') }}">トップページ</a>
    </div>
    <div class="body">
      {% block body %}{% endblock %}
    </div>
    <hr>
</body>