{% extends "layout.html" %}
{% block body %}
<table width="100%" cellspacing="0" cellpadding="5">
    <tbody>
        <tr>
            <th class="subtitle" align="center">
                <big>tex2mp4 (pyttsx3)</big>
            </th>
        </tr>
    </tbody>
</table>
　本プログラムの目的はTeXファイルから動画ファイルを作成することである. 従来は動画作成GUIソフト使わなければ合成音声による講義動画を作成することは難しかったが,
本プログラムによってTeXさえあれば動画を作成できるようにした. 使い方について説明する. まず, texファイルを準備する. 全てのスライドに特殊なコメントアウト"%!"を必ず1つつけなければならない. "%!"
の文に記載したコメントアウト分がナレーションとして採用される. pdfファイルとtexファイルをアップロードし, 作成ボタンをクリックすることにより, 動画ファイルmp4が作成される.
動画作成には相当な時間がかかるため, 覚悟されたい.<br><br>
<form id="upload-form" action="{{ url_for('tex2mp4_add') }}" method="post" class="add-entry"
    enctype="multipart/form-data">
    <table cellspacing="2" cellpadding="2" border="1">
        <tbody>
            <th class="th" nowrap="" align="left">
                <small>■</small>
                pdfファイル
            </th>
            <td class="td" nowrap="">
                <input type="file" id="upload_files1" name="upload_files1" accept=".pdf" class="form-control">
            </td>
        </tbody>

        <tbody>
            <th class="th" nowrap="" align="left">
                <small>■</small>
                texファイル
            </th>
            <td class="td" nowrap="">
                <input type="file" id="upload_files2" name="upload_files2" accept=".tex" class="form-control">
            </td>
        </tbody>
    </table>
    <input type="submit" value="作成" class="form-control btn btn-primary">
</form>

<div id="progress-container" style="display:none;">
    <p>Progress:</p>
    <div class="progress">
        <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0"
            aria-valuemin="0" aria-valuemax="100">0%</div>
    </div>
</div>

{% if image_name %}
<p><a href="{{ url_for('tex2mp4_download') }}">ダウンロード</a></p>
{% endif %}
{% endblock %}