{% extends "layout.html" %}
{% block body %}
<table width="100%" cellspacing="0" cellpadding="5">
    <tbody>
        <tr>
            <th class="subtitle" align="center">
                <big>txt2wav</big>
            </th>
        </tr>
    </tbody>
</table>
　本プログラムの目的はテキストファイルから合成音声ファイルを作成することである. 長文を聞き流したいときに頗る役立つ.<br><br>
<form action="{{ url_for('txt2wav_add') }}" method="post" class="add-entry" enctype="multipart/form-data">
    <table cellspacing="2" cellpadding="2" border="1">
        <tbody>
            <th class="th" nowrap="" align="left">
                <small>■</small>
                txtファイル
            </th>
            <td class="td" nowrap="">
                <input type="file" id="upload_files" name="upload_files" accept=".pptx" class="form-control">
            </td>
        </tbody>
    </table>
    <input type="submit" value="作成" class="form-control btn btn-primary">
</form>

{% if image_name %}
<p><a href="{{ url_for('txt2wav_download') }}">ダウンロード</a>
</p>
{% endif %}
{% endblock %}